{% extends "layout.html" %}
{% block title %}Статистика{% endblock %}
{% load static %}
{% block cssblock %}
    <link rel="stylesheet" href={% static 'stats/css/statistics.css' %}>
{% endblock %}
{% block content %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <main>
        <h5>Запланированные рассылки на этой неделе. Всего: {{ dispatches_this_week_count }} </h5>
        <div id="bar-chart"></div>

        <h5>Статистика отправленных сообщений. Всего: {{ total_messages_count }}</h5>
        <div id="pie-chart"></div>

    </main>
{% endblock %}

{% block jsblock %}
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawCharts);
    function drawCharts() {


    var barData = google.visualization.arrayToDataTable([
    ['Day', 'Запланированно', 'Клиенты'],
    ['Sun',  {{ sunday_dispatches_count }},      {{ sunday_clients_count }}],
    ['Mon',  {{ monday_dispatches_count }},      {{ monday_clients_count }}],
    ['Tue',  {{ tuesday_dispatches_count }},       {{ tuesday_clients_count }}],
    ['Wed',  {{ wednesday_dispatches_count }},      {{ wednesday_clients_count }}],
    ['Thu',  {{ thursday_dispatches_count }},      {{ thursday_clients_count }}],
    ['Fri',  {{ friday_dispatches_count }},      {{ friday_clients_count }}],
    ['Sat',  {{ saturday_dispatches_count }},       {{ saturday_clients_count }}]
    ]);
    // set bar chart options
    var barOptions = {
    focusTarget: 'category',
    backgroundColor: 'transparent',
    colors: ['cornflowerblue', 'tomato'],
    fontName: 'Open Sans',
    chartArea: {
    left: 50,
    top: 10,
    width: '100%',
    height: '70%'
    },
    bar: {
    groupWidth: '80%'
    },
    hAxis: {
    textStyle: {
    fontSize: 11
    }
    },
    vAxis: {
    minValue: 0,
    maxValue: 100,
    baselineColor: '#DDD',
    gridlines: {
    color: '#DDD',
    count: 4
    },
    textStyle: {
    fontSize: 11
    }
    },
    legend: {
    position: 'bottom',
    textStyle: {
    fontSize: 12
    }
    },
    animation: {
    duration: 1200,
    easing: 'out',
    startup: true
    }
    };
    {#  // draw bar chart twice so it animates#}
    var barChart = new google.visualization.ColumnChart(document.getElementById('bar-chart'));
    //barChart.draw(barZeroData, barOptions);
    barChart.draw(barData, barOptions);

    {#  // BEGIN PIE CHART#}
    var pieData = google.visualization.arrayToDataTable([
    ['Статус', 'Количество'],
    ['Успешно',      {{ sent_messages_count }}],
    ['Ошибка',   {{ failed_messages_count }}],
    ['Ожидают',   {{ pending_messages_count }}],
    ['Sweden',    0],
    ['Germany',  0]
    ]);
    {#  // pie chart options#}
    var pieOptions = {
    backgroundColor: 'transparent',
    pieHole: 0.4,
    colors: [ "green",
    "red",
    "blue",

    "orange",
    "tomato",
    "crimson",
    "purple",
    "turquoise",
    "forestgreen",
    "navy",
    "gray"],
    pieSliceText: 'value',
    tooltip: {
    text: 'percentage'
    },
    fontName: 'Open Sans',
    chartArea: {
    width: '100%',
    height: '94%'
    },
    legend: {
    textStyle: {
    fontSize: 13
    }
    }
    };
    {#  // draw pie chart#}
    var pieChart = new google.visualization.PieChart(document.getElementById('pie-chart'));
    pieChart.draw(pieData, pieOptions);
    }
{% endblock %}