[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django = "*"
drf-yasg = "*"
celery = "*"
requests = "*"
flower = "*"
psycopg2-binary = "*"
psycopg2 = "*"
django-celery-beat = "*"
sqlalchemy = "*"
django-celery-results = "*"
redis = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"
django-debug-toolbar = "*"
flake8-bugbear = "*"
flake8-builtins = "*"
pep8-naming = "*"
flake8-commas = "*"
flake8-variables-names = "*"
flake8-import-order = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.3"
